# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# 虚拟环境
venv/
.venv/
env/

# 敏感配置（绝对不能传！）
.env

# 数据库（每台机器自己生成）
*.db
*.db-journal

# 日志
*.log
*.err

# macOS 系统垃圾
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
